<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
</head>
<body>
    <h1>List of Users</h1>
    <button><a href="{% url 'logout' user.id %}">LogOut</a></button>
    <br>
    <br>
    <div>
    <table class="content-table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}</td>
                <td><button><a href="{% url 'update' user.id %}">Edit</a></button></td>
                <td><button><a href="{% url 'delete' user.id %}">Delete</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>